@model Setting

@{
    ViewData["Title"] = "Index";
}

<br />
<div class="row">
    <div class="col-md-12 col-xs-11 col-sm-11">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">

                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Ayarlar</span>

                </div>

            </div>



            @if (!String.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-success">@ViewBag.Message</div>
            }


            <form asp-area="Admin" role="form" asp-controller="Settings" asp-action="Index" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <div class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label asp-for="Logo" class="col-md-2 control-label"></label>
                        <div class="col-md-9">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"> </div>
                                <div>
                                    <span class="btn red btn-outline btn-file">
                                        <span class="fileinput-new"> Select image </span>
                                        <span class="fileinput-exists"> Change </span>
                                        <input title="uploadFile" type="file" name="uploadFile" />
                                    </span>
                                    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                </div>
                            </div>
                            <div class="clearfix margin-top-10">
                                <span class="label label-success">NOTE!</span> Resim Uzantısı .jpg .jpeg yada .png olmalıdır..
                            </div>
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label asp-for="Logo" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <input title="logoUpload" type="file" name="logoUpload" class="form-control" />
                            @Html.ValidationMessage("Logo", new { @class = "text-danger" })
                        </div>

                    </div>*@


                    <div class="form-group">
                        <label asp-for="SeoTitle" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <input asp-for="SeoTitle" class="form-control" />
                            <span asp-validation-for="SeoTitle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoDescription" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <textarea asp-for="SeoDescription" class="form-control"></textarea>
                            <span asp-validation-for="SeoDescription" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoKeywords" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <textarea asp-for="SeoKeywords" class="form-control"></textarea>
                            <span asp-validation-for="SeoKeywords" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="About" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <textarea asp-for="About" class="form-control"></textarea>
                            <span asp-validation-for="About" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Mail" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <input asp-for="Mail" class="form-control" />
                            <span asp-validation-for="Mail" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label asp-for="Facebook" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <input asp-for="Facebook" class="form-control" />
                            <span asp-validation-for="Facebook" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Twitter" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <input asp-for="Twitter" class="form-control" />
                            <span asp-validation-for="Twitter" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LinkedIn" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <input asp-for="LinkedIn" class="form-control" />
                            <span asp-validation-for="LinkedIn" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
