@model SaleStore.Models.Product

@{
    ViewData["Title"] = "Ürün Oluştur";
}


<!-- BEGIN THEME GLOBAL STYLES -->
<link href="/metronic/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<link href="~/metronic/global/css/components-md.min.css" rel="stylesheet" type="text/css" />

<h2>İndirimli Ürün Oluştur</h2>

<div class="container main-container headerOffset">
    <h2>Ürün Oluştur</h2>
    <hr />

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <input type="hidden" asp-for="CreateDate" class="form-control" value="@DateTime.Now" />
        <input type="hidden" asp-for="CreatedBy" class="form-control" value="@(User.Identity.Name ?? "username")" />
        <input type="hidden" asp-for="UpdatedBy" class="form-control" value="@(User.Identity.Name ?? "username")" />
        <input type="hidden" asp-for="UpdateDate" class="form-control" value="@DateTime.Now" />

        <div class="col-lg-5 col-md-5 col-sm-5" style="padding-left:0px;">
                <div class="form-group ">                   
                    <div class="col-md-12" style="padding-left:0px;">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 300px; height: 200px;"> </div>
                            <div>
                                <span class="btn red btn-outline btn-file">
                                    <span class="fileinput-new"> Resim Seç </span>
                                    <span class="fileinput-exists"> Değiştir </span>
                                    <input title="uploadFile" type="file" name="uploadFile" />
                                </span>
                                <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Kaldır </a>

                            </div>
                        </div>  
                        <div class="clearfix margin-top-10">
                            <span class="label label-success">NOT!</span> Resim Uzantısı .jpg .jpeg yada .png olmalıdır..
                        </div>
                    </div>
                </div>   
        </div>
        <!--/ left column end -->
        <!-- right column -->
        <div class="col-lg-7 col-md-7 col-sm-7">
            <div class="form-group">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="Name" class="control-label"></label>
                        </div>
                        <div class="col-md-9">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="CategoryId" cclass="control-label"></label>
                        </div>
                        <div class="col-md-9">
                            <select asp-for="CategoryId" class="form-control " asp-items="ViewBag.CategoryId"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="CompanyId" cclass="control-label"></label>
                        </div>
                        <div class="col-md-9">
                            <select asp-for="CompanyId" class="form-control " asp-items="ViewBag.CompanyId"></select>
                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-4">
                            <label asp-for="UnitPrice" class="control-label"></label>
                            <input asp-for="UnitPrice" class="form-control" />
                            <span asp-validation-for="UnitPrice" class="text-danger"></span>
                        </div>
                        <div class="col-md-5">
                            <label asp-for="SalePrice" class="control-label"></label>
                            <input asp-for="SalePrice" class="form-control" />
                            <span asp-validation-for="SalePrice" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="Details" class="control-label"></label>
                        </div>
                        <div class="col-md-9">
                            <textarea rows="5" asp-for="Details" class="form-control"></textarea>
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-4">
                            <label asp-for="SaleStarthDate" class="control-label"></label>
                            <input asp-for="SaleStarthDate" class="form-control" />
                            <span asp-validation-for="SaleStarthDate" class="text-danger"></span>
                        </div>

                        <div class="col-md-5">
                            <label asp-for="SaleEndDate" class="control-label"></label>
                            <input asp-for="SaleEndDate" class="form-control" />
                            <span asp-validation-for="SaleEndDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="IsPublish" class="control-label"></label>
                        </div>
                        <div class="col-md-9">
                            <input asp-for="IsPublish" class="form-control" />
                            <span asp-validation-for="IsPublish" class="text-danger"></span>
                        </div>
                    </div>
                    </div>

                    <!--/.product-tab-->
                    <!--/.cart-actions-->

                    <div class="clear"></div>
                    <div style="clear:both"></div>
                </div>
                <!--/ right column end -->
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9" style="padding:0;">
                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                        <a class="btn btn-primary" asp-action="Index">Vazgeç</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--/.row-->


    <div style="clear:both"></div>
</div>


<!-- /main-container -->


<div class="gap"></div>



<!-- Modal review start -->
<!-- /.Modal review -->
<!-- Le javascript
================================================== -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- jquery-migrate only for product details -->
<script src="~/assets/js/jquery-migrate-1.4.1.js"></script>
  
<!-- include jqueryCycle plugin -->
<script src="/assets/js/jquery.cycle2.min.js"></script>
<!-- include easing plugin -->
<script src="/assets/js/jquery.easing.1.3.js"></script>

<!-- include  parallax plugin -->
<script type="text/javascript" src="/assets/js/jquery.parallax-1.1.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="/assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.js"></script>

<!-- include icheck plugin // customized checkboxes and radio buttons   -->
<script type="text/javascript" src="/assets/plugins/icheck-1.x/icheck.min.js"></script>

<!-- include grid.js // for equal Div height  -->
<script src="/assets/js/grids.js"></script>

<!-- include carousel slider plugin  -->
<script src="/assets/js/owl.carousel.min.js"></script>

<!-- include smoothproducts // product zoom plugin  -->
<script type="text/javascript" src="/assets/js/smoothproducts.min.js"></script>

<!-- jQuery select2 // custom select   -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<!-- include touchspin.js // touch friendly input spinner component   -->
<script src="/assets/js/bootstrap.touchspin.js"></script>

<!-- include custom script for site  -->
<script src="/assets/js/script.js"></script>

<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->

<script src="/metronic/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>

<!-- END THEME GLOBAL SCRIPTS -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}