@{
    ViewData["Title"] = "Access Denied";
}
<header class="page-header bg-img size-lg headerOffset" style="padding-top:80px;">
    <div class="container">
        <h1 class="text-danger"><i class="fa fa-times" style="margin-right:10px;" aria-hidden="true"></i>Erişim reddedildi.</h1>
    </div>
</header>
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <p class="text-danger">Buraya erişim yetkiniz yoktur.</p>
            @section Scripts {
                @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
            }
        </div>
    </section>
    <br />
</main>