@{
    ViewData["Title"] = "Confirm Email";
}

<header class="page-header bg-img size-lg">
    <div class="container">
        <h2 class="text-center">Email onaylandı .</h2>

    </div>
</header>

<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <p>
                Email'nizi onayladığınız için teşekkürler. Lütfen <a asp-controller="Account" asp-action="Login">Giriş yapmak için tıklayınız..</a>.

            </p>
        </div>
    </section>
</main>
