@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">Şifremi Unuttum</h1>
        <p class="lead text-center">Lütfen kayıtlı e-posta adresinizi girerek şifrenizi sıfırlayınız.</p>
    </div>
</header>

<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Mail adresinizi giriniz...</h5>

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" class="btn btn-primary">Gönder</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

            @section Scripts {
                @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
            }
        </div>
    </section>
</main>

