@{
    ViewData["Title"] = "Kilitli";
}


    <header class="page-header bg-img size-lg">
        <div class="container">
            <h1 class="text-center">Kilitli</h1>
            <p class="text-center">Hesap kilitlendi.Lütfen tekrar giriş yapınız.</p>
        </div>
    </header>

    <main>
        <section class="no-padding-top bg-alt">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            Tekrar giriş yapmak için <a asp-controller="Account" asp-action="Login"> buraya tıklayınız</a>.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
