@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">Kaydol</h1>
        <p class="lead text-center">Bilgilerinizi girerek ücretsiz  hesap oluşturabilirsiniz.</p>
    </div>
</header>
<!-- END Page header -->
<!-- Main container -->
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">

            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <h4>Yeni bir hesap oluştur.</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Kaydol</button>
                    </div>
                </div>
            </form>

            @section Scripts {
                @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
            }
        </div>
    </section>
</main>