@model RegisterViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Register";
}

<header class="page-header bg-img size-lg headerOffset" style="padding-top:80px;">
    <div class="container">
        <h1 class="text-center">Kaydol</h1>
        <p class="lead text-center">Bilgilerinizi girerek ücretsiz  hesap oluşturabilirsiniz.</p>
    </div>
</header>
<!-- END Page header -->
<!-- Main container -->

<div class="container main-container">
    <div class="row">
        <div class="col-lg-12 col-md-12  col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data">
                        <h2 class="block-title-2"> BİR HESAP OLUŞTURUN</h2>



                        <!--Tab-->
                        <div class="product-tab w100 clearfix">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#details" data-toggle="tab">1.Adım</a></li>
                                <li class="step2"><a href="#size" data-toggle="tab">2.Adım</a></li>
                                <li class="step3"><a href="#ap" data-toggle="tab">3.Adım</a></li>

                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="details">
                                    <h3>Üyelik Bilgileri</h3>

                                    <div class="form-group">
                                        <label asp-for="Email">Email</label>
                                        <input asp-for="Email" class="form-control" placeholder="Email adresinizi giriniz" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password">Şifre</label>
                                        <input asp-for="Password" class="form-control" placeholder="Şifre giriniz" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword">Şifre Onayla</label>
                                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Şifrenizi tekrar giriniz">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <a href="#size" id="active" class="btn btn-default" data-toggle="tab"><i class="fa fa-user"></i> 2.Adıma Geç</a>


                                </div>
                                <div class="tab-pane" id="size">
                                    <h3>Firma Bilgileri</h3>

                                    <div class="form-group">
                                        <label asp-for="Name" class=" control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Address" class="control-label"></label>
                                        <input asp-for="Address" class="form-control" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Phone" class="control-label"></label>
                                        <input asp-for="Phone" class="form-control" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Logo" class=" control-label"></label>
                                        <input title="uploadFile" type="file" name="uploadFile" class="form-control" />
                                        @Html.ValidationMessage("Logo", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">

                                        <a href="#ap" id="active" class="btn btn-default" data-toggle="tab"><i class="fa fa-user"></i> 3.Adıma Geç</a>
                                        
                                    </div>

                                </div>
                                <div class="tab-pane" id="ap">
                                    <h3>Üyelik Sözleşmesi ve Gizlilik Prensipleri</h3>

                                    <div class="form-group" >
                                        <textarea rows="10" class="col-md-12" readonly></textarea>
                                    </div>
                                    <div class="form-group">
                                        
                                        <input type="checkbox" />
                                        
                                        <label>Üyelik Sözleşmesini ve Gizlilik Prensiplerini Okudum Kabul Ediyorum</label>
                                    </div>
                                    <div class="form-group">
                                          <input type="submit" value="Hesabı Oluştur" class="btn btn-primary" />
                                    </div>

                                    </div>

                            </div>
                            <!-- /.tab content -->


                        </div>

                    </form>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h2 class="block-title-2"><span>Üye olmadan devam et</span></h2>

                    <p>Eğer üye değilseniz ve sitemize giriş yapmak istiyorsanız...</p>
                    <a href="/Home/Index" class="btn btn-primary">
                        <i class="fa fa-sign-in"></i> Üye olmadan devam et
                    </a>
                </div>
            </div>
            <!--/row end-->

        </div>
    </div>

</div>


<div class="gap"></div>




@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");


    }


    <script>
        $(document).ready(function () {
            $('#active').click(function (e) {

                $('.nav li').removeClass('active');
                $('.step2').addClass('active');


            });
        });

    </script>

}