@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Şifre Sıfırlama";
}

<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">Parolanız Sıfırlandı</h1>

    </div>
</header>
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        Parolanız sıfırlandı. Lütfen <a asp-controller="Account" asp-action="Login">Tekrar giriş yapınız.</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
