@model SendCodeViewModel
@{
    ViewData["Title"] = "Doğrulama Kodu Gönder";
}

<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">@ViewData["Title"]</h1>
    </div>
</header>
<!-- END Page header -->
<!-- Main container -->
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">

            <form asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <input asp-for="RememberMe" type="hidden" />
                <div class="row">
                    <div class="col-md-8">
                        İki-aşamalı kimlik doğrulama sağlayıcısını seçin:
                        <select asp-for="SelectedProvider" asp-items="Model.Providers"></select>
                        <button type="submit" class="btn btn-primary">Gönder</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
