@model SaleStore.Models.SendMessage

@{
    ViewData["Title"] = "Giden Mesaj Ekle";
}
<br />
<div class="row">
    <div class="col-md-12 col-xs-11 col-sm-11">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">

                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Giden Mesaj Ekle</span>

                </div>

            </div>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">

                    <br />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Subject" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <input asp-for="Subject" class="form-control" />
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="BodyContent" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <input asp-for="BodyContent" class="form-control" />
                            <span asp-validation-for="BodyContent" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="MailSettingId" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <select asp-for="MailSettingId" class="form-control" asp-items="ViewBag.MailSettingId"></select>
                        </div>
                    </div>
                
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" value="Oluştur" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>

            <div>
                <a asp-action="Index" class="btn default btn-outline">Listeye Geri Dön</a>
            </div>
        </div>
    </div>
</div>
            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
