@model SaleStore.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Details" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UnitPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SalePrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SalePrice" class="form-control" />
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SaleStarthDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SaleStarthDate" class="form-control" />
                <span asp-validation-for="SaleStarthDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SaleEndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SaleEndDate" class="form-control" />
                <span asp-validation-for="SaleEndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="input-group input-large">
                    @*<div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                        <span class="fileinput-filename"></span>
                    </div>*@
                    <span class="input-group-addon btn default btn-file">
                        @*<span class="fileinput-new">Dosya Seç</span>*@
                        @*<span class="fileinput-exists">Deðiþtir</span>*@
                        <input type="file" id="FileName" name="uploadFile">
                    </span>
                    @*<a href="javascript:" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">Kaldýr</a>*@
                </div>
                @*@Html.ValidationMessage("FileName", new { @class = "text-danger" })*@
                @Html.ValidationMessage("FileExist", new { @class = "text-danger" })
                <span class="text-danger" asp-validation-for="FileName"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CreateDate" class="form-control" />
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="UpdatedBy" class="form-control" />
                    <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="UpdateDate" class="form-control" />
                    <span asp-validation-for="UpdateDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
