.container{
    width:80% !important;
}

.productFilter {
    margin-top: 2px !important;
    border-top: 4px solid #e74c3c !important;
}

@media (max-width: 569px) {
    .btn {
        padding: 5px 10px !important;
    }
}

.sp-thumbs {
    margin-top:20px!important;
    position: initial !important;
  
}



