.container{
    width:80% !important;
}

.productFilter {
    margin-top: 2px !important;
    border-top: 4px solid #e74c3c !important;
}

@media (max-width: 569px) {
    .btn {
        padding: 5px 10px !important;
    }
}

.sp-thumbs {
    margin-top:20px!important;
    position: initial !important;
  
}

.featuredImageLook3 .inner .img-title {
    color: #dec9c9 !important;
    background-color: rgba(0, 0, 0, 0.10) !important;
    padding:10px !important;
 
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display:  unset !important;
   
}

.box-text h1, .box-text-cell-inner h1 {
   
    text-shadow: -3px 4px 4px #000000;
}

.btn-stroke-light {
    background: rgba(231, 76, 60 , 0.8) !important
  
}

