@model SaleStore.Models.Advertisement

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Advertisement</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="advType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="advType" class="form-control"></select>
                <span asp-validation-for="advType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="HomePageCampaigns" />
                    <label asp-for="HomePageCampaigns"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="HomePageProducts" />
                    <label asp-for="HomePageProducts"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="ProductsPage" />
                    <label asp-for="ProductsPage"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="CampaignPage" />
                    <label asp-for="CampaignPage"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HTMLCodes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HTMLCodes" class="form-control" />
                <span asp-validation-for="HTMLCodes" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="URLpath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="URLpath" class="form-control" />
                <span asp-validation-for="URLpath" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Image" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Ispublished" />
                    <label asp-for="Ispublished"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AdvertiseStartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AdvertiseStartDate" class="form-control" />
                <span asp-validation-for="AdvertiseStartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AdvertiseEndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AdvertiseEndDate" class="form-control" />
                <span asp-validation-for="AdvertiseEndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClickRate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClickRate" class="form-control" />
                <span asp-validation-for="ClickRate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PositionDegree" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PositionDegree" class="form-control" />
                <span asp-validation-for="PositionDegree" class="text-danger"></span>
            </div>
        </div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CreateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
