@model SetPasswordViewModel
@{
    ViewData["Title"] = "Şifrenizi Ayarlayın";
}

<p class="text-info headerOffset text-center">
    Bu site için yerel bir kullanıcı adı / şifreniz yok. Harici bir giriş yapmadan oturum açabilmeniz için yerel bir hesap ekleyin.
</p>
<br>
<form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h2 class="col-md-offset-5"><i class="fa fa-unlock-alt " style="margin-right:10px;" aria-hidden="true"></i>Şifrenizi Ayarlayın</h2>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-2 control-label">Yeni Şifre</label>
        <div class="col-md-6">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label">Yeni Şifre Tekrar</label>
        <div class="col-md-6">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <button type="submit" class="btn btn-success">Kaydet</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
